{% extends "base.html" %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "/about/css/styles.css" %}">
{% endblock app_css %}

{% block header %}
<h1 class="text-left" style="margin-top:200px">{{heading}}</h1>
<p class="lead-left">{{subheading}}</p>
{% endblock header %}


{% block content1 %}
    <div class="row bg-white" style="height:400px">
    <h1>content about1</h1>
    </div>
{% endblock content1 %}


{% block content2 %}
    <div class="row bg-dark" style="height:400px">
    <h1>content about2</h1>
    </div>
{% endblock content2 %}